<td class="ret-{{#sScore}}{{scoreResult}}{{/sScore}}">
  <a href="{{sBaseName}}.out.txt">{{#sScore}}{{scoreResult}} {{scoreValue}}{{/sScore}}</a>
  <a href="{{sBaseName}}.err.txt">E</a>
  <span class="time">[{{sTimeElapsed}}sec]</span>
</td>
