<td class="ret-{{resultType}}">
  <a href="{{resultBaseName}}.out.txt">{{resultType}} {{resultScore}}</a>
  <a href="{{resultBaseName}}.err.txt">E</a>
  <span class="time">[{{resultTimeElapsed}}sec]</span>
</td>
